[Desktop Entry]
Version=1.0
Type=Application
Name=Install FurryOS Gen2
Comment=Install FurryOS to your computer
Exec=/usr/share/furryos/desktop/FurryOS-Installer.sh
Icon=/usr/share/furryos/desktop/icons/furryos-installer.png
Terminal=false
Categories=System;
StartupNotify=true

