[Desktop Entry]
Version=1.0
Type=Application
Name=Install Custom Packages
Comment=Open package manager to install additional software
Icon=system-software-install
Exec=pkexec apt install -y
Terminal=true
Categories=System;
X-Ubuntu-Gettext-Domain=furryos
StartupNotify=true
